body {
    padding: 104px;
}
.navbar-primary {
    z-index: 9999;
    -webkit-app-region: drag;
}

#close-button {
    margin-right: 4px;
    -webkit-app-region: no-drag;
}

.navbar-second {
    margin-top: 32px;
}

#status-icon {
    font-size: 8pt;
    position: absolute;
    left: -16px;
    top: 17px;
}
#status-container {
    position: relative;
}

.form-control::-webkit-input-placeholder {
    color: #6c757d;
  }

* {
    user-select: none;
}
